<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  <title>Django_calc</title>

  <style>
    body {
      background-color: #EAF0F1;
      font-family: 'Annie Use Your Telescope';

    }
    input {
      width: 300px;
      height: 50px; 
      border-radius: 50px;
      padding: 10px;
      margin: 10px
    }
    label {
      font-size:30px
    }
    select {
      width: 50px;
      height: 30px;
      font-size:30px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <header>
    <div class="container" style="padding-left:350px;">
      <h1 style="font-size:100px">
        Django-Calc
      </h1>
    </div>
  </header>
  <!-- inputs -->
  <center>
  <div class="container" style="margin-top:100px">
    <form method="post" action=index>
      {% csrf_token %}
      <input type="text" name="value1" placeholder="Enter the value 1" pattern="[0-9]{0,10}"><br>
      <input type="text" name="value2" placeholder="Enter the value 2" pattern="[0-9]{0,10}"><br>
      <label>Select the operation: 
      <Select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
      </Select>
    </label><br>
    <input type="submit" value="Calculate" style="width:100px;height:100px;background-color:#99AAAB;color:aliceblue;"> 
    </form>
  </div>
  <div>
    <h3 style="color:#4834DF;font-size:50px;font-weight:bold">
      {{res}}
    </h3>
  </div>
</center>
</body>
</html>